@import "~bootstrap/scss/bootstrap.scss";
@import "./animations";
@import "./index";
@import "./stars";
@import "./typography";


.transparent-card {
    background-color: rgba(255, 255, 255, 0.1); /* This makes the card background semi-transparent */
}

.transparent-card .text-dark {
    color: rgba(0, 0, 0, 0.5); /* This makes the text semi-transparent */
}

.transparent-card .text-primary {
    color: rgba(0, 123, 255, 0.5); /* Adjust this value if you have a different primary color */
}


.certifications-section {
    background: linear-gradient(45deg, #f3ec78, #af4261);
    color: white; /* This will make the text inside this section white */
}

.certifications-section {
    background: linear-gradient(45deg, #000000, #302d2e);
}

.card-text, .card-title {
    color: rgb(19, 8, 8); /* Adjust this color if needed */
}